doctype html

html
  head
    // master library css
    link(rel='stylesheet', href='/css/widget.css')
    // project css
    link(rel='stylesheet', href='/test/css/widget.css')
    // master library js
    script(src='/js/widget.js')
    // project js
    script(src='/test/js/widget.js')

  body(ng-app='widget.cgg.test')
    div.container(ng-controller='test')
      div.row
        // one line of code to use the directive exposed by master library
        div.col-md-7.col-sm-12.col-xs-12
          .form-inline
            .form-group
              label Change Progress
          input.form-control(type='number', max='{{max}}', min='0', ng-model='progress.value')
          cgg-progress(theme='warning', value='progress.value', steps='progress.steps')
          ui-view
        div.col-md-5.col-sm-4.hidden-sm.hidden-xs
           h4 Form data results
           p {{firstname}}
           p(ng-bind="step1.lastname")
           p(ng-bind="step1.age")

           h4 Price Guarantee
           p Samlino.dk garanterer dig, at du ikke kan finde en billigere pris på selskabernes hjemmeside.
           ul
             li Sammenlign priser på bilforsikring - helt uforpligtende
             li Se priserne med det samme
             li Spar 2700 kr. i gennemsnit
           p Vi har sammenlignet 14 udbydere, så du ikke behøver.
           ul
             li
              img(src='http://media.compargo.com/dk/products/car-insurance/alka.png', alt='test')
             li
              img(src='http://media.compargo.com/dk/products/car-insurance/Nextforsikring.png', alt='test')
