h3 form2
cgg-input-field(label='Test label', placeholder='Test placeholder')
cgg-checkbox(label='Test Label Checkbox', label-name="Text LabelName Checkbox")
cgg-button-set(previous='step1', next='step3')
