.cgg-inputField
  .form-group
    label {{label}}
    input(type='text', placeholder='{{placeholder}}', ng-model='inputValue', required='{{isRequired}}' ng-class="displayLock ? 'cgg-lock-image' : ''").form-control
