.container-fluid.widget(ng-controller='w1')
  .row
    .col-md-7
      .portlet
        .portlet-title
          .caption.caption-red
            i.glyphicon.glyphicon-pushpin
            span.caption-subject.bold.font-yellow-crusta.uppercase
              | Tabs
            span.caption-helper more samples...
          ul.nav.nav-tabs
            li
              a(href='#portlet_tab3', data-toggle='tab')
                | Tab 3
            li
              a(href='#portlet_tab2', data-toggle='tab')
                | Tab 2
            li.active
              a(href='#portlet_tab1', data-toggle='tab')
                | Tab 1
        .portlet-body
          .tab-content
            #portlet_tab1.tab-pane.active
              h4 Tab 1 Content
              p
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
            #portlet_tab2.tab-pane
              h4 Tab 2 Content
              p
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
            #portlet_tab3.tab-pane
              h4 Tab 3 Content
              p
                | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
              p
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
    .col-md-5
      .panel.panel-primary
        .panel-heading
          span.glyphicon.glyphicon-list
          | Sortable Lists
          .pull-right.action-buttons
            .btn-group.pull-right
              button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                span.glyphicon.glyphicon-cog(style='margin-right: 0px;')
              ul.dropdown-menu.slidedown
                li
                  a(href='http://www.jquery2dotnet.com')
                    span.glyphicon.glyphicon-pencil
                    | Edit
                li
                  a(href='http://www.jquery2dotnet.com')
                    span.glyphicon.glyphicon-trash
                    | Delete
                li
                  a(href='http://www.jquery2dotnet.com')
                    span.glyphicon.glyphicon-flag
                    | Flag
        .panel-body
          ul.list-group
            li.list-group-item
              .checkbox
                input#checkbox(type='checkbox')
                label(for='checkbox')
                  | List group item heading
              .pull-right.action-buttons
                a(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-pencil
                a.trash(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-trash
                a.flag(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-flag
            li.list-group-item
              .checkbox
                input#checkbox2(type='checkbox')
                label(for='checkbox2')
                  | List group item heading 1
              .pull-right.action-buttons
                a(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-pencil
                a.trash(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-trash
                a.flag(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-flag
            li.list-group-item
              .checkbox
                input#checkbox3(type='checkbox')
                label(for='checkbox3')
                  | List group item heading 2
              .pull-right.action-buttons
                a(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-pencil
                a.trash(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-trash
                a.flag(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-flag
            li.list-group-item
              .checkbox
                input#checkbox4(type='checkbox')
                label(for='checkbox4')
                  | List group item heading 3
              .pull-right.action-buttons
                a(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-pencil
                a.trash(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-trash
                a.flag(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-flag
            li.list-group-item
              .checkbox
                input#checkbox5(type='checkbox')
                label(for='checkbox5')
                  | List group item heading 4
              .pull-right.action-buttons
                a(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-pencil
                a.trash(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-trash
                a.flag(href='http://www.jquery2dotnet.com')
                  span.glyphicon.glyphicon-flag
        .panel-footer
          .row
            .col-md-6
              h6
                | Total Count
                span.label.label-info 25
            .col-md-6
              ul.pagination.pagination-sm.pull-right
                li.disabled
                  a(href='javascript:void(0)') «
                li.active
                  a(href='javascript:void(0)')
                    | 1
                    span.sr-only (current)
                li
                  a(href='http://www.jquery2dotnet.com') 2
                li
                  a(href='http://www.jquery2dotnet.com') 3
                li
                  a(href='http://www.jquery2dotnet.com') 4
                li
                  a(href='http://www.jquery2dotnet.com') 5
                li
                  a(href='javascript:void(0)') »

