.container-fluid.widget(ng-controller='w2')
  .row(ng-controller='w1')
    .col-md-6
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            span.glyphicon.glyphicon-bookmark
          |  Quick Shortcuts
      .panel-body
        .row
          .col-md-6
            .row
              .col-xs-6
                a.btn.btn-danger.btn-lg.btn-block(href='#', role='button')
                  span.glyphicon.glyphicon-list-alt
                  br
                  | Apps
              .col-xs-6
                a.btn.btn-warning.btn-lg.btn-block(href='#', role='button')
                  span.glyphicon.glyphicon-bookmark
                  br
                  | Bookmarks
            .row
              .col-xs-6
                a.btn.btn-primary.btn-lg.btn-block(href='#', role='button')
                  span.glyphicon.glyphicon-signal
                  br
                  | Reports
              .col-xs-6
                a.btn.btn-primary.btn-lg.btn-block(href='#', role='button')
                  span.glyphicon.glyphicon-comment
                  br
                  | Comments
          .col-md-6
            .row
              .col-xs-6
                a.btn.btn-success.btn-lg.btn-block(href='#', role='button')
                  span.glyphicon.glyphicon-user
                  br
                  | Users
              .col-xs-6
                a.btn.btn-info.btn-lg.btn-block(href='#', role='button')
                  span.glyphicon.glyphicon-file
                  br
                  | Notes
            .row
              .col-xs-6
                a.btn.btn-primary.btn-lg.btn-block(href='#', role='button')
                  span.glyphicon.glyphicon-picture
                  br
                  | Photos
              .col-xs-6
                a.btn.btn-primary.btn-lg.btn-block(href='#', role='button')
                  span.glyphicon.glyphicon-tag
                  br
                  | Tags
        a.btn.btn-success.btn-lg.btn-block(href='http://www.jquery2dotnet.com/', role='button')
          span.glyphicon.glyphicon-globe
          |  Website

    .col-md-6
      .row
        .col-xs-12.col-sm-offset-4.col-sm-8
          .row
            .col-xs-4.my_planHeader.my_plan1
              .my_planTitle Plan 1
              .my_planPrice Free
              .my_planDuration  
              a.btn.btn-default(type='button') Sign Up
            .col-xs-4.my_planHeader.my_plan2
              .my_planTitle Plan 2
              .my_planPrice 2€
              .my_planDuration per month
              a.btn.btn-default(type='button') Sign Up
            .col-xs-4.my_planHeader.my_plan3
              .my_planTitle Plan 3
              .my_planPrice 3.75€
              .my_planDuration per month
              a.btn.btn-default(type='button') Sign Up
      .row.my_featureRow
        .col-xs-12.col-sm-4.my_feature
          | Feature 1
        .col-xs-12.col-sm-8
          .row
            .col-xs-4.col-sm-4.my_planFeature.my_plan1
              i.fa.fa-check.my_check
            .col-xs-4.col-sm-4.my_planFeature.my_plan2
              i.fa.fa-check.my_check
            .col-xs-4.col-sm-4.my_planFeature.my_plan3
              i.fa.fa-check.my_check
      .row.my_featureRow
        .col-xs-12.col-sm-4.my_feature
          | Feature 2
        .col-xs-12.col-sm-8
          .row
            .col-xs-4.col-sm-4.my_planFeature.my_plan1
              i.fa
            .col-xs-4.col-sm-4.my_planFeature.my_plan2
              i.fa.fa-check.my_check
            .col-xs-4.col-sm-4.my_planFeature.my_plan3
              i.fa.fa-check.my_check
      .row.my_featureRow
        .col-xs-12.col-sm-4.my_feature
          | Feature 3
        .col-xs-12.col-sm-8
          .row
            .col-xs-4.col-sm-4.my_planFeature.my_plan1
              i.fa
            .col-xs-4.col-sm-4.my_planFeature.my_plan2
              i.fa
            .col-xs-4.col-sm-4.my_planFeature.my_plan3
              i.fa.fa-check.my_check
