h4 Price Guarantee
p Samlino.dk garanterer dig, at du ikke kan finde en billigere pris på selskabernes hjemmeside.
ul
  li Sammenlign priser på bilforsikring - helt uforpligtende
  li Se priserne med det samme
  li Spar 2700 kr. i gennemsnit
p Vi har sammenlignet 14 udbydere, så du ikke behøver.
ul
  li
    img(src='http://media.compargo.com/dk/products/car-insurance/alka.png', alt='test')
  li
    img(src='http://media.compargo.com/dk/products/car-insurance/Nextforsikring.png', alt='test')
