.cgg-button-set
  button(type='button', ui-sref='{{previous}}', ng-show='previous').btn.btn-default.pull-left previous
  button(type='button', ui-sref='{{next}}', ng-class="formComplete ? '' : 'disabled'").btn.btn-primary.pull-right {{buttonTitleNext}}
