.step1WrapperClass(ng-controller='step1')
  form(name='step1', novalidate, role='form')
    cgg-input-field(label='Firstname', placeholder='firstname', ng-model="$root.firstname", required)
    cgg-input-field(label='Lastname', placeholder='lastname', ng-model="$root.lastname", required)
    cgg-input-field(label='age', placeholder='age', ng-model="$root.age", required)
    cgg-email-field(label='email', placeholder='fake@mail.com', ng-model="$root.email", display-lock="true", required, info="what'sup", error-show-up='step1.email.$error.email')
        //div.alert.alert-danger(ng-show='step1.email.$error.required', role='alert')
    //  span.glyphicon.glyphicon-alert(aria-hidden='true') Email required
    //  span.sr-only Error:
    //    | Email required



    cgg-button-set(next='step2', form-complete='step1.$valid')
