.step2WrapperClass(ng-controller='step2')
  form(name='step2', novalidate, role='form')
    cgg-input-field(label='Test label', placeholder='Test placeholder', is-required='true', ng-model="$root.field1")
    cgg-input-field(label='Test label', placeholder='Test placeholder', is-required='true', ng-model='$root.field2', display-lock="true")

    cgg-button-set(previous='step1', next='step3', form-complete='step2.$valid')
