.cgg-progress
  progressbar.progress-striped.active(type='{{theme}}', value='value', max='max')
  .cgg-progress__step-icon-container
    .cgg-progress__step-icon(ng-repeat='step in sortedSteps', class='bg-{{step.color}}', style='left:{{step.value/max*100}}%')
      i.glyphicon(class='glyphicon-{{step.icon}}')


